/* Centrer un element parfaitement */
/* Si l'element est en block */
.titre {
  text-align: center;
}
.boite {
  margin: 0 auto;
  display: block; /* Si jamais il n'est pas en block (img, a , span , button) */
}

/* ***********FLEX******************* */

/* Centrer un element dans sa boite (enfant unique) */
.parent-d-1-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Repartir equitablement des elements dans la page */
.parent-de-plusieurs-enfants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* **************GRID******************** */

/* Repartir precisement des elements dans la largeur avec des tailles differentes */
.parent-de-3-elements {
  display: grid;
  grid-template-columns: 25% 55% 20%;
}

/* Creer des grilles complexes */
.parent-des-elements {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 1fr 1fr 300px;
  grid-template-areas:
    "header header header"
    "side main main"
    "side footer footer";
}
.enfant1 {
  grid-area: header;
}

/* ************ABSOLUTE************* */

/* Centrer parfaitement un element  */
.parent {
  position: relative;
}

.enfant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
